* {
  box-sizing: border-box;
}

body {
  background-color: #2e112d !important;
  background-image: url("../img_src/fixed/big-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Lato", "sans-serif" !important;
}

footer {
  background-color: #ffe9de;
  padding: 30px;
  text-align: center;
}

 h2.section-title {
  color: #ffe4d6;
  font-family: "Lato", "sans-serif";
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 15px !important;
  margin-top: 25px !important;
  text-align: center;
}

nav {
  margin-bottom: 28vw;
  position: relative;
  text-align: center;
}

nav a {
  color: #ee4339;
  display: inline-block;
  font-family: "Lato", "sans-serif";
  font-size: 20px;
  font-weight: 700;
  list-style-type: none;
  margin: 10px;
  padding: 8px;
}

nav a:hover {
  color: #fdeee0;
}

.description {
  border: 2px solid  #ffe9dd;
  border-radius: 5px;
  color: #ffe9dd;
  font-size: 18px;
  padding: 20px;
}

.first-row {
  margin-top: 30px;
}

.hero-image {
  width: 100%;
}

.footer-element {
  /*color: #fe7f4a !important;*/
  /*color: #c154bb !important;*/
  margin-left: 5%;
  margin-right: 5%;
}

.label {
  /*color: #fe7f4a !important;*/
  color: #c154bb !important;
  font-weight: 400 !important ;
  font-size: 18px !important;
}

.icons {
  color: #c154bb;
}

.job-role {
  color: #c8293f !important;
  font-size: 24px;
  font-weight: 400;
}

.portfolio-image {
  display: block;
  margin: auto;
  width: 50%;
}

.portfolio-projects {
  margin-bottom: 30px;
}

.project-links {
  color: #ffdbc5;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.project-titles {
  color: #ffe9dc;
  font-family: "Lato", "sans-serif";
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.title-super {
  color: #fe7f4a;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-top: 0;
}

.logo {
  margin-top: 15px;
}

.name-company, .school-name {
  color: #ff6c40;
  font-size: 18px;
}

.position {
  color: #7e0032;
}

.date {
  color: #ffe9dc;
  font-size: 17px;
}
.city {
  color: #c154bc;
  font-size: 18px;
}

.education-section .date, .city {
  margin-bottom: 15px;

}

.major {
  color: #c8293f;
}

input[type=text], textarea {
  width: 100%;
  border: 1px solid #2e112d;
  border-radius: 3px;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #ffe9dc;
}

input[type=submit] {
  padding: 10px 60px;
  background-color: #ffe9dc;
  border: 1px solid #ffe9dc;
  border-radius: 3px;
  color: #530030;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #51002f;
  /*background-color: #ffe9dc;*/
}

 .form-label {
  color: #c154bb;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  font-size: 20px;
}

.form {
  padding: 40px;
}

#form-title {
  color: #ffdbc5 !important;
}

#submit-btn {
  text-align: center;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 6%;
}

#map {
  display: block;
  height: 100%;
  margin: 0 3%;
}

/************ CSS Contact page ********/



#contact-page {
  background-color: #2e112d !important;
  background-image: url("../img_src/fixed/big-image.jpg");
  background-size: contain;
  background-repeat: repeat;

  font-family: "Lato", "sans-serif" !important;
}
