/* IDS */

#player {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transition: top 300ms, left 300ms;
  transition: top 300ms, left 300ms;
}

#game {
  font-family: 'Roboto', 'sans-serif';
  width: 810px;
  height: 620px;
  overflow: hidden;
  position: relative;

}

#game_over_title {
  font-family: 'Roboto', 'sans-serif';
  color: #F3DEAB;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  line-height: 150px;
  margin: 0;
}

#final_text {
  color: #ecf0f1;
  font-size: 30px;
  text-align: center;
  line-height: 150px;
  font-weight: 100;
}

#final_score {
  color: #ecf0f1;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

#current_score {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400 !important;
  position: absolute;
  left: 30px;
  top: 25px;
  color: #2c3e50;

}

#current_level {
  width: 100%;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 40px;
  color: #5FC148;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 0;
}



#question_subtitle {
  font-family: 'Roboto', 'sans-serif';
  color: #FF2452;
  font-size: 27px;
  text-align: center;
  font-weight: 500;
}

#yes {
  background-color: #2ecc71;
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

#player_game_lost {
  display: block;
  margin: auto;
}

#begin_game_screen {
  width: 810px;
  height: 620px;
  background-color: #0B8C73;
  position: absolute !important;
  top: 0px !important;
  display: hidden;
}

#begin_game_screen #title {
  font-family: 'Roboto', 'sans-serif';
  font-size: 35px;
  font-weight: 500;
  color: #BAECE7;
  text-align: center;
  padding-top: 40px;
  position: relative;
  opacity: 0;
}

#begin_game_screen #player_image {
  display: block;
  margin: auto;
  border: 2px solid #BAECE7;
  opacity: 0;
}

#begin_game_screen #left,
#begin_game_screen #right {
  width: 80px;
  height: 45px;
  background-color: #06715C;
  border: none;
  border-radius: 3px;
  color: #A3ECDE;
  font-size: 15px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  opacity: 0;
  position: relative;
}

#begin_game_screen #play {
  width: 120px;
  height: 45px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: #287667;
  color: #BAECE7;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 30px auto 0;
  opacity: 0;
  position: relative;
}

#begin_game_screen #play:hover {
  background-color: #134037;
  color: #CBEBE5;
}


/* HTML TAGS*/
body {
  width: 600px;
  height: 500px;
}

span {
  color: #3498db;
}

/* CLASSES */
.lives {
  width: 150px;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 25px;
}

.game_won {
  background-color: #34495e;
  width: 810px;
  height: 620px;
  z-index: 10000;
  position: relative;
  display: none;
  margin-top: -20px;
  visibility: hidden;
}

.game_lost {
  width: 810px;
  height: 620px;
  background-color: #030A04;
  display: none;
  z-index: 100000;
  position: relative;
}

.wrapper {
  text-align: center;
  margin-top: 30px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active, .hvr-wobble-horizontal{
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active, .hvr-pulse-grow {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active, .hvr-buzz {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active, .hvr-bounce-out {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
